<footer>
		<div class="container">
			<div class="span12 centrar">
					<div class="iconos-footer">
					<ul>
						<li><i class="icon-circled icon-map-marker icon-1x"></i>
							Consistorial 3175 - Peñalolen
						</li>
						<li><i class="icon-circled icon-envelope icon-1x"></i>
							contacto@vidaccion.cl
						</li>
            <li><i class="icon-circled icon-phone icon-1x"></i>
							2 27583543
						</li>
            <li><i class="icon-circled icon-time icon-1x"></i>
              Horario de atención de lunes a viernes de 8:00 a 21:00.
              Sábado de 9:00 a 16:00.
            </li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
