<footer>
		<div class="container">
			<div class="span12 centrar">
					<div class="iconos-footer">
					<ul>
						<li><a href="#"><i class="icon-circled icon-map-marker icon-1x"></i></a>
							Consistorial 3175 - comuna de Peñalolen
						</li>
						<li><a href="#"><i class="icon-circled icon-envelope icon-1x"></i></a>
							contacto@vidaccion.cl 
						</li>
							<li><a href="#"><i class="icon-circled icon-phone icon-1x"></i></a>
							02-2758 3543
						</li>
					</ul>
				</div>
			</div>

			
			
		</div>
	</footer>
