<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="../../../assets/img/logo.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>Creatividad</strong> y pasión
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Cercano <strong>y confiable</strong>
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										Equipo <strong>de calidad</strong>
									</p>
								</li>
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>