
    <section id="maincontent" class="inner">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-xs-12">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/ff/Morning_Glory_Flower_square.jpg/1024px-Morning_Glory_Flower_square.jpg">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>Dra. Adriana Collao</h3>
                                <p>
                                    Médico Cirujano titulada en Universidad de Chile, Psiquiatra Infantil y de la Adolescencia Universidad de Santiago. Posee
                                    experiencia en atención ambulatoria psiquiátrica general de niños y adolescentes, con
                                    amplia experiencia tanto en el ámbito público y privado; además de haber sido Docente
                                    Becada de Psiquiatría Infanto-Juvenil de la Universidad de Santiago.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


  