
    <section id="maincontent" class="inner">
        <div class="container">

            <div class="row"  *ngFor="let item of this.datosProfesionales; index as i;">
                <div class="col-md-offset-1 col-md-5 col-xs-12">
                    <div class="card horizontal" >
                        <div class="card-image">
                            <img [src]="item.img">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>{{item.nombre}}</h3>
                                <p>
                                  {{item.resena}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


