<section id="services" class="section orange">
		<div class="container">
			<h4>Nuestros Servicios</h4>
			<!-- Four columns -->
			<div class="row">
				<div class="span4 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />
						<h2>Infantil y Adolescencia.</h2>
						<ul>
							<li>
								<p>Psicología.</p>
							</li>
							<li>
								<p>Psiquiatría</p>
							</li>
							<li>
								<p>Psicopedagogía Básica y Media</p>
							</li>
							<li>
								<p>Fonoaudiología</p>
							</li>
							<li>
								<p>Terapia Ocupacional</p>
							</li>
							<li>
								<p>Neurología</p>
							</li>
							<li>
								<p>Flores de Bach</p>
							</li>
						</ul>

					</div>
				</div>
				<div class="span4 animated flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono-familia.png" alt="" />
						<h2>Adultos y Familia.</h2>
						<ul>
							<li>
								<p><a href="">Psicología</a></p>
							</li>
							<li>
								<p><a href="">Terapia de Pareja</a></p>
							</li>
							<li>
								<p><a href="">Terapia de Familia</a></p>
							</li>
							<li>
								<p><a href="">Flores de Bach</a></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="span4 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_consultor.png" alt="" />
						<h2>Consultoria Individual.</h2>
						<ul>
							<li>
								<p><a href="">Coaching Transformacional</a></p>
							</li>
						</ul>
					</div>
				</div>
			
			</div>
		</div>
	</section>