<section id="services" class="section">
		<div class="container">
			<h4>Nuestros Profesionales</h4>
			<!-- Four columns -->
			<div class="row span12">
				<a [routerLink]="['/profesionales','psicologos']">
				<div class="span2 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />	
							<p>Psicología</p>
					</div>
				</div>
				</a>
				<a [routerLink]="['/profesionales','psiquiatras']">
				<div class="span2 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />	
							<p>Psiquiatría</p>
					</div>
				</div>
				</a>
				<a [routerLink]="['/profesionales','psicopedagogos']">
				<div class="span2 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />	
							<p>Psicopedagogía</p>
					</div>
				</div>
				</a>
				<a [routerLink]="['/profesionales','fonoaudiologos']">
				<div class="span2 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />	
							<p>Fonoaudiología</p>
					</div>
				</div>
				</a>
				<a [routerLink]="['/profesionales','terapistas']">
				<div class="span2 animated-fast flyIn">
					<div class="service-box">
						<img src="../../../../assets/img/icons/icono_nino3.png" alt="" />	
							<p>Terapia ocupacional</p>
					</div>
				</div>
				</a>
			</div>
			
		</div>
	</section>